<form (ngSubmit)="validateNameInput()" [formGroup]="formControlFolder!" class="form-add-folder">
  <h3>{{titleDialog}}</h3>
  <mat-form-field appearance="outline" hintLabel="Max {{maxLengthName}} caracteres">
    <mat-label>{{nameInput}}</mat-label>
    <input
      #inputFileName
      formControlName="nameInput"
      matInput
      placeholder="Escribe el nombre"
      [maxLength]="maxLengthName"
      type="text"
    >
    <mat-hint align="end">{{inputFileName.value.length}}/{{maxLengthName}}</mat-hint>
    <mat-error *ngIf="formControlFolder.invalid">{{getErrorName()}}</mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button color="primary" mat-raised-button type="submit">Accept</button>
    <button [mat-dialog-close]="" mat-raised-button>Cancel</button>
  </div>
</form>

