<mat-toolbar color="primary">
  <button (click)="backScreen()" aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Nuevo Archivo</span>
</mat-toolbar>

<div class="container-form">
  <form (ngSubmit)="sendFile()" [formGroup]="formFile">

    <div (click)="onFakeClickFile()" (fileDropped)="onFileDropped($event)" appDnd class="container-drop-item">
      <h3>{{ fileSelected == null ? 'Arrasta o da click para seleccionar tu archivo' : fileSelected.name}}</h3>
      <div class="img-upload">
        <fa-icon
          *ngIf="iconFile; else blockIcon"
          [icon]="iconFile.icon"
          [style.color]="iconFile.color"
          size="10x"
        ></fa-icon>
        <ng-template #blockIcon>
          <ng-lottie [options]="options"></ng-lottie>
        </ng-template>
        <input (change)="onClickInputFile($event)" id="input-file" type="file"/>
      </div>
    </div>

    <div class="container-field">
      <!-- * name -->
      <mat-form-field appearance="outline" hintLabel="Max {{MAX_LENGTH_NAME}} caracteres">
        <mat-label>Nombre</mat-label>
        <input #inputName [maxlength]="MAX_LENGTH_NAME" formControlName="name" matInput required type="text">
        <mat-hint align="end">{{inputName?.value?.length || 0}}/{{MAX_LENGTH_NAME}}</mat-hint>
        <mat-error *ngIf="formFile.controls['name'].hasError('required')">El nombre es requerido</mat-error>
        <mat-error *ngIf="formFile.controls['name'].hasError('exist')">Ya hay un archivo con ese nombre</mat-error>
      </mat-form-field>

      <!-- * author -->
      <mat-form-field appearance="outline" hintLabel="Max {{MAX_LENGTH_AUTHOR}} caracteres">
        <mat-label>Autor</mat-label>
        <input #inputAuthor [maxlength]="MAX_LENGTH_AUTHOR" formControlName="author" matInput required type="text">
        <mat-hint align="end">{{inputAuthor?.value?.length || 0}}/{{MAX_LENGTH_AUTHOR}}</mat-hint>
        <mat-error *ngIf="formFile.controls['author'].hasError('required')">El autor es requerido</mat-error>
      </mat-form-field>

      <!-- * description -->
      <mat-form-field appearance="outline" class="container-description"
                      hintLabel="Max {{MAX_LENGTH_DESCRIPTION}} caracteres">
        <mat-label>Descripcion</mat-label>
        <textarea #inputDescription [maxlength]="MAX_LENGTH_DESCRIPTION" formControlName="description" matInput
                  type="text"></textarea>
        <mat-hint align="end">{{inputDescription?.value?.length || 0}}/{{MAX_LENGTH_DESCRIPTION}}</mat-hint>
      </mat-form-field>

      <ng-container *ngFor="let property of listPropertiesValue">
        <app-select-option-form
          [errorRequire]="property.errorRequire"
          [form]="formFile"
          [label]="property.label"
          [listOptions]="property.listOptions"
          [nameControl]="property.nameControl"
        ></app-select-option-form>
      </ng-container>

      <!-- * date create -->
      <mat-form-field appearance="outline">
        <mat-label>Fecha de la creacion</mat-label>
        <input
          [matDatepicker]="picker"
          formControlName="dateCreate"
          matInput
          readonly
        >
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-error *ngIf="formFile.controls['dateCreate'].hasError('required')">La fecha es necesaria</mat-error>
      </mat-form-field>
    </div>

    <button
      class="button-submit"
      color="primary" mat-flat-button type="submit">Subir
    </button>

  </form>
</div>
