
.button-submit {
  width: fit-content;
  margin: 0 auto;
  grid-column: 1 / span 2;
}

.container-form {
  padding: 20px;
  display: flex;
  justify-content: center;
  height: calc(100% - 20px - 84px);
}

form {
  box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

textarea {
  height: 100px;
  resize: none;
}

.img-upload {
  height: 250px;
}

.container-drop-item {
  text-align: center;
  border: 1px solid grey;
  background: #ff79c6;
  border-radius: 10px;
  cursor: pointer;
}

#input-file {
  display: none;
}

.container-field {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.container-description {
  grid-column: span 2;
}

span {
  margin-left: 20px;
}

@media screen and (max-width: 1100px) {
  form {
    width: 80%;
  }
}


@media screen and (max-width: 850px) {
  form {
    width: 95%;
  }

}

@media screen and (max-width: 750px) {

  .container-form {
    height: auto;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .img-upload {
    height: 150px;
  }

  .container-drop-item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .container-field {
    display: flex;
    flex-direction: column;
  }
}
