#main-panel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  /* * remove height from toolbar */
}

#button-add {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.container-progress {
  position: absolute;
}
