<div class="main-panel">
  <ng-container *ngFor="let object of listFiles">
    <app-icon-object-file
      (fileClickLeft)="clickLeft($event)"
      (fileClickRight)="clickRight($event)"
      [fileObject]="object"
      [menu]="appMenu"
    ></app-icon-object-file>

    <!-- only create a one  menu context for all files-->
    <mat-menu #appMenu="matMenu">
      <ng-template let-file="file" matMenuContent>
        <app-menu-file-options
          (clickOptionEvent)="listerClickAction($event)"
          [currentFile]="file"></app-menu-file-options>
      </ng-template>
    </mat-menu>
  </ng-container>
</div>
