<div id="main-panel">
  <!-- * init panel with listener clicks for list file -->
  <!-- ! is import pass "fileMenu", this is a ref for open mat menu -->

  <ng-container *ngFor="let object of listFiles | async">
    <app-icon-object-file
      (fileClickLeft)="clickLeft($event)"
      (fileClickRight)="clickRight($event)"
      [fileObject]="object"
      [menu]="fileMenu"
      [currentSelectedFile]="fileSelected"
    ></app-icon-object-file>

    <!-- * only create a one  menu context for all files -->
    <!-- ! this for no has multiples menus options -->

    <mat-menu #fileMenu="matMenu">
      <!-- * get the var (file) passed as argument when click left in file -->
      <!-- ! for that is necessary "matMenuContent" for lazy component -->
      <ng-template let-file="file" matMenuContent>
        <app-menu-file-options
          (clickOptionEvent)="listerClickAction($event)"
          [currentFile]="file"
        ></app-menu-file-options>
      </ng-template>
    </mat-menu>
  </ng-container>

  <button mat-fab color="primary" id="button-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
