.main-panel{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  grid-gap: 10px;
  justify-items: center;
  padding: 10px;
}

#button-add{
 position: absolute;
  right: 10px;
  bottom: 10px;
}
