<form (ngSubmit)="validateNameFolder()" [formGroup]="formControlFolder" class="form-add-folder">
  <h3>Crea una nueva carpeta</h3>
  <mat-form-field appearance="outline">
    <mat-label>Name file</mat-label>
    <input
      #inputFileName
      [formControl]="formControlFolder.controls.nameFolder"
      matInput
      placeholder="Write name new Folder"
      type="text">
    <mat-icon matSuffix>create_new_folder</mat-icon>
    <mat-hint
      [ngStyle]="{'color' : inputFileName.value.length > MAX_LENGTH_NAME ? 'red' : 'black'}"
      align="end"
    >{{inputFileName.value.length}} /{{MAX_LENGTH_NAME}}</mat-hint>
    <mat-error *ngIf="formControlFolder.controls.nameFolder.errors?.['required']">name is require</mat-error>
    <mat-error *ngIf="formControlFolder.controls.nameFolder.errors?.['maxlength']">name is very length</mat-error>
    <mat-error *ngIf="formControlFolder.controls.nameFolder.errors?.['exist']">the name already exists</mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button color="primary" mat-raised-button type="submit">Accept</button>
    <button mat-dialog-close mat-raised-button>Cancel</button>
  </div>
</form>
